<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mooli&display=swap" rel="stylesheet">
  </head>

  <body>
    <div id="container">
      <div id="addTask-box">
        <div id="addTask">
          <div>
            <span>To-Do List <img class="img" src="/img-resources/to-do-list.png" alt=""></span>
            <div id="dateContainer">
              <span>Date : </span>
              <input type="date" />
            </div>
          </div>
          <div id="task-input-container">
            <input type="text" id="textInput" />
            <button class="btn" id="add">Add</button>
            <button class="btn">Save</button>
          </div>
          <div class="task-list">
            <!-- <div class="content">
                        <p>do java script projects and make portfolio</p>
                        <button>X</button>
                    </div> -->
          </div>
        </div>
      </div>
    </div>

    <script src="/scripts/script.js"></script>
  </body>
</html>
