<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css" />
</head>

<body>
    <div id="container">
        <div id="addTask-box">
            <div id="addTask">
                <div>
                    <span>To-Do List</span>
                    <div id="dateContainer">
                        <span>Date : </span>
                        <input type="date" />
                    </div>
                </div>
                <div id="task-input-container">
                    <input type="text">
                    <button class="btn">Add</button>
                </div>
                <div class="task-list">
                    <!-- <div class="content">
                        <p>do java script projects and make portfolio</p>
                        <button>X</button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</body>

</html>