*{
    margin: 0px;
    padding: 0px;
}

#addTask-box{
    padding: 15px 0px;
    height: 50vh;
    background-color: aqua;
    display: grid;
    place-items: center;
}

#addTask{

    height: 40vh;
    width: 80vw;
    background-color: aliceblue;
    border-radius: 25px;
    padding: 20px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    transition: 600ms;
}

#addTask:hover{
    scale: 1.03;
}

#addTask span {
    margin: 0px 10px;
}

#addTask > div:first-child {
    margin: 4px;
    background-color: aquamarine;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#dateContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="date"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

input[type="text"] {
    width: 40vw;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

@media (min-width: 1024px){
    #addTask{
        width: 50vw;
        height: 45vh;
    }
}